extends ../layout

block content
    h1.
        Infophoto #{event._id}
    p Name: #{event.name}
    p Info: #{event.info}
    p Type: #{event.type}
    p EVENTDATE: #{eventeventDate}
    p Matches: #{event.matches}